.Chat {
  text-align: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.logo {
  color: white;
  font-size: 5.5vh;
  margin-bottom: 1vh;
  margin-top: 5.5vh;
}

.sidebar {
  width: 30%;
  max-width: 200px;
  padding: 1vw;
  background-image: linear-gradient(to bottom, #205072, #329d9c, #56c596);
  color: white;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar-toggle {
  display: none;
  font-size: 2.5vh;
  color:white;
  cursor: pointer;
}

.chatbox {
  flex: 1;
  background-color: #eaecef;
  width: 100%;
  max-width: none;
}

.chatbox.full-width {
  width: 100%;
  max-width: none;;
}

.about-us{
  text-decoration: none;
}

.about-us-button {
  width: 50%;
  max-width: 110px;
  height: auto;
  border-top-right-radius: 0.1vw;
  border-top-left-radius: 0.1vw;
  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  padding: 1vw;
  margin: 1vw auto; 
  background-image: linear-gradient(to bottom, #205072, #329d9c);
  cursor: pointer;
  color: black;
  text-decoration: none; 
  font-size: 2.6vh;
  display: block; 
  text-align: center; 
}

.about-us-button:hover {
  background-image: linear-gradient(to bottom,  #205072, #329d9c, #56c596);
  color: black;
  border: 0.05vw solid black;
}

.about-us-button p{
  padding: 0;
  margin: 0;
  font-size: 1.3vw;
  line-height: 1vh;
}

.toggle-btn {
  position: fixed;
  top: 1vh;
  right: 1vw;
  z-index: 2;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
}

.toggle-btn span {
  height: 0.3vh;
  width: 2vh;
  background-color: white;
  margin: 0.5vh 0;
  display: block;
}

@media (max-width: 450px) {
  .sidebar {
    display: none; 
  }

  .chatbox{
    width: 100%;
    max-width: none;
  }
}


.sidebar-button {
  padding: 0.25vw;
  border: 0.5vw solid white;
  border-radius: 3vw;
  text-align: left;
  transition: ease 0.25s all;
}

.sidebar-button:hover {
  background-color: #438285;
}

.sidebar-button span {
  padding: 0 1vw 0 0.5vw;
}

.chat-inputbox {
  padding: 1vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-inputbox {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
}

.input-textarea {
  flex: 95%;
  border-radius: 1vh;
  border: none;
  padding: 1.2vw;
  padding-right: 1vw;
  margin: 1vw;
  outline: none;
  font-size: 2.5vh;
  box-shadow: 0 0 0.3vw 0 rgba(0, 0, 0, 0.25);
  font-size: 2.2vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

input[type="submit"] {
  flex: 5%;
  font-family: FontAwesome;
  border: none;
  margin-left: -7.5vw;
  background: none;
  font-size: larger;
  color: #317b7d;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: rgb(75, 129, 118);
  font-size: x-large;
} 

.chat-query {
  margin-bottom: 0.1vh;
  background-color: white;
  border-radius: 0.85vw;
  box-shadow: 0.4vw 0.5vh 0vw 0vh rgba(218, 213, 213, 0.25);
  display: flex;
  padding: 0.75vw;
  max-width: 640px;
  margin-left: auto;
  margin-top: 2vh;
  margin-bottom: 0.5vh;
  margin-right: 0.1vw;
  font-size: 2.2vh;
}

.avatar {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background: #ffffff;
  width: 15%;
  height: 3.6vw;
  text-align: center;
  margin-right: 0.5vw;
}

.message {
  padding: 0.75vh;
  padding-left: 2.5vw;
  line-height: 3.1vh;
}

.chat-answer {
  margin-bottom: 0.1vh;
  border-radius: 0.65vw;
  box-shadow: 0.4vw 0.75vh 0vw 0vh rgba(218, 213, 213, 0.25);
  background-color: #cbe5e6;
  display: flex;
  padding: 1vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  max-width: 640px;
  margin-right: auto;
}

.source {
  padding: 1vw;
  border: 1px solid #317b7d;
  border: none;
  border-radius: 1.5vw;
}

.chat-log {
  height: 85%;
  padding: 1.5vw;
  padding-right: 10%;
  padding-left: 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.avatar {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background: #ffffff;
  width: 15%;
  height: 3.5vw;
  text-align: center;
}

#p_wrap {
  white-space: pre-line;
}

