.chat-inputbox {
  padding: 1vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}
  
.form-inputbox {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
}

.input-textarea {
  flex: 95%;
  border-radius: 1vh;
  border: none;
  padding: 1.2vw;
  padding-right: 1vw;
  margin: 1vw;
  outline: none;
  font-size: 2.5vh;
  box-shadow: 0 0 0.3vw 0 rgba(0, 0, 0, 0.25);
  font-size: 2.2vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

input[type="submit"] {
  flex: 5%;
  font-family: FontAwesome;
  border: none;
  margin-left: -7.5vw;
  background: none;
  font-size: larger;
  color: #317b7d;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: rgb(75, 129, 118);
  font-size: x-large;
}

@media (max-width: 768px) {
  .input-textarea {
    width: 100%; /* Make the input take full width on smaller screens */
  }
}